@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap);

body {
    margin: 0;
    /* background-color: rgb(69, 76, 76); */
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    background: linear-gradient(90deg, #100f0f 0%, #101735 100%);


}

.cs-inicio {
    background-image: url(img/images/iniciocs2.jpg);
    filter: blur(0px);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: darkblue;



}
.contenido {
    font-size: 30px;
    text-align: center;
    color: rgb(159, 50, 255);

}
.contenido p{
    color: #fa036e;
    font-size: 30px;
}

.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(43, 45, 48);
    box-shadow: 0px 2px 42px 6px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 2px 42px 6px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 2px 42px 6px rgba(0, 0, 0, 0.75) inset;
}

.menu1 ul {
    display: flex;
    gap: 40px;
    list-style: none;

}

.menu1 li a {
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;


}

/*SECCION DE CARROUSEL*/

/* .contenedor {
    width: 70%;
    position: relative;
    height: 780px;
}
.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255,.6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .botones:hover{
        cursor: pointer;
        transform: scale(1.2, 1.2);
    }

    .atras {
        left: 2%;
        top: calc(50%-70%);
    }
    .adelante {
        right: 2%;
        top: calc(50%-70%);
    } */
    
 .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

/* Botones "Anterior" y "Siguiente" */
 #prevBtn, #nextBtn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #0056b3;
} 

/*Estilo de la imagen actual */
.carousel img:first-child {
    display: block;
} 

/*Opcional: Agrega transiciones para animar el cambio de imágenes */
 .carousel img {
    transition: opacity 0.5s ease-in-out;
}  


/*APARTADO INFORMACION*/
.info h2{
    color: rgb(243, 174, 0);
    padding: 40px;
}
.info p{
   margin: 40px 40px;
    font-size: 20px;
    color: rgb(11, 191, 20);
    text-align: justify;
}
.info img{
    width: 500px;
    position: relative;
    top: auto;
    left: 100px;
}

.guia h2{
    color: rgb(243, 174, 0);
    padding: 40px;

}
.guia p{
    margin: 40px 40px;
    color: rgb(11, 191, 20);
    text-align: justify;
    font-size: 20px;
}

/*Apartado de introduccion a la info de daños*/
h2{
    color: rgb(243, 174, 0);
    padding: 40px;

}

.danios {
    display: flex;
}
.danios p{
    margin: 40px 40px;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    color: rgb(11, 191, 20);
}
.danios img{
    width: 500px;
    margin-left: 25px;
    margin-right: 150px;
    border-radius: 15px;

   
}