@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap);

body{
    margin: 0;
    background-color: aqua;

}

.cs-inicio{
    background-image: url(img/images/iniciocs2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: darkblue;
  

}

.contenido{
    text-align: center;
    color: aliceblue;

}
.menu1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: slategray;
}
.menu1 ul{
    display: flex;
    gap: 40px;
    list-style: none;

}
.menu1 li a{
    text-decoration: none;
    font-size: 25px;


}